@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
    
}
a{
    padding: 10px;
    background-color: rgb(185, 33, 33);
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;

}
a:hover{
    background-color: red;
    transition: 0.3s;
}